<!DOCTYPE html>
<html lang="en">
    {{> head }}

    <body>
        {{> loader }}

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                {{> header }}

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        {{> sidebar }}

                        <div class="pcoded-content">
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">MY PROFILE</h5>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h5>Change Password</h5>
                                </div>         
                                <div class="card-block">
                                    <form action="/update-password" method="POST" enctype="multipart/form-data" id="changePasswordForm">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 col-form-label">Current Password</label>
                                                <div class="col-sm-12">
                                                    <input type="password" name="password" value="" class="form-control" autocomplete="off" required="true">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 col-form-label">New Password</label>
                                                <div class="col-sm-12">
                                                    <input type="password" name="new_password" value="" class="form-control" autocomplete="off" required="true" id="new_password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 col-form-label">Confirm Password</label>
                                                <div class="col-sm-12">
                                                    <input type="password" name="confirm_password" value="" class="form-control" autocomplete="off" required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="submit" class="py-2 btn btn-primary waves-effect waves-light">Update</button>
                                                    <a href="javascript:history.back()" class="py-2 btn btn-info waves-effect waves-light text-white">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> script }}

    </body>
</html>
