<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Serby</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image" href="/images/serby.png"/>
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/util.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
	</head>
	<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
						<span class="login100-form-title-1">
							<img src="/images/icons/serby_logo.png"  alt="" height="100px"><br>
							Sign In
						</span>
					</div>
					<form class="login100-form validate-form" action="/login" method="post">
						<div class="wrap-input100 validate-input m-b-26" data-validate="Please enter your email.">
							<span class="label-input100">Email</span>
							<input class="input100" type="text" name="email">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-18" data-validate = "Please enter your password.">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="password">
							<span class="focus-input100"></span>
						</div>
						<div class="flex-sb-m w-full p-b-30">
							<div>
								<a href="javascript:void(0)" class="txt1">
									Forgot Password?
								</a>
							</div>
						</div>
						<div class="flex-sb-m w-full p-b-30">
							<div class="g-recaptcha" data-sitekey="6Lc9DCsbAAAAAIJYE9XoHx4ojJNyV4IWut2_d6Hi"></div>
						</div>
						<div class="container-login100-form-btn">
							<input type="submit" class="login100-form-btn" placeholder="login">
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap/js/popper.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
		<script type="text/javascript" src="/js/toastr.min.js"></script>
		
		{{{ toasts }}}

	</body>
</html>