<div class="thankYouOuter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto col-md-6 col-sm-8 col-12">
                <div class="thankYou">
                    <div class="thankLogo">
                        <img src="assets/logoicon.png">
                    </div>
                    <div class="thumb">
                        <img src="assets/thumb.png">
                    </div>
                    <div class="thankText">
                        <h1>Thanks!</h1>
                        <p>Your Registration is Completed 
                            <span>Your account will be activated by admin soon!</span>
                        </p>
                    </div>
                    <div class="thankBtn">
                        <a href="login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
