
   <div>
    <form [formGroup]="addProductForm" (ngSubmit)="submitProductData()">
        <div  class="col-md-12">
            <label>Title</label>
            <mat-form-field appearance="outline">
                <div class="col-sm-12">
                    <input matInput formControlName="title" required>
                </div>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <label>Description</label>
            <mat-form-field appearance="outline">
                <div class="col-sm-12">
                    <textarea matInput formControlName="description" required></textarea>
                </div>
               
            </mat-form-field>
        </div>

        <div class="file-upload col-md-12">
            <input id="file" type="file"  (change)="onFileChange($event)" required>
        </div>
        <div class="footer">
            <span>
                <button class="btn" type="submit" (click)="addProduct()">Submit</button>
            </span>
           <span>
            <button class="cancel btn" type="submit" (click)="cancelProduct()">Cancel</button>
           </span>
        </div>
    </form>
</div>