.mat-form-field {
    display: block !important;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
/* .mat-dialog-container{
    background-color: white !important;
} */

/* 
::ng-deep .addProduct .mat-dialog-container {
    background: #fff !important;
} */