<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footAbout">
                    <div class="footTitle">
                        <h3>About Us</h3>
                    </div>
                    <div class="footlogo">
                        <img alt="" class="img-fluid" src="assets/logo.png">
                    </div>
                    <div class="footpara">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, assumenda odit architecto amet qui ea sit hic voluptates quasi voluptate! Veniam est repudiandae omnis saepe id. Ducimus repellat beatae sed.</p>
                    </div>   
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footBox">
                    <div class="footTitle">
                        <h3>Company Links</h3>
                    </div>
                    <div class="footList">
                        <ul>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 1</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 2</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 3</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 4</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 5</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 6</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Link 7</a></li>
                        </ul>
                    </div>   
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footBox">
                    <div class="footTitle">
                        <h3>Contact Info</h3>
                    </div>
                    <div class="foodAddress">
                        <ul>
                            <li><span>Address</span>  8th Floor Phase, D-xyz, lorem ipsum <br>
                            , lorem ipsum elit sum, ipsum elit sum 160000</li>
                            <li><span>Phone</span> <a href="#">(+91) 123456789</a></li>
                            <li><span>Email</span> <a href="mailto:example@gmail.com"> example@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="footSocial">
                        <ul>
                            <li><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="#"><span><i class="fab fa-google-plus-g"></i></span></a></li>
                            <li><a href="#"><span><i class="fab fa-pinterest-p"></i></span></a></li>
                            <li><a href="#"><span><i class="fab fa-dribbble"></i></span></a></li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</footer>